** EXTRACT **

In [400]:
import pandas as pd

# Membaca data dari file CSV
book_details = pd.read_csv('Book_details.csv', index_col=0)
print(book_details.head())

   book_id                                    cover_image_uri  \
0        1  https://images-na.ssl-images-amazon.com/images...
1        2  https://images-na.ssl-images-amazon.com/images...
2        3  https://images-na.ssl-images-amazon.com/images...
3        5  https://images-na.ssl-images-amazon.com/images...
4        6  https://images-na.ssl-images-amazon.com/images...

                                  book_title  \
0     Harry Potter and the Half-Blood Prince
1  Harry Potter and the Order of the Phoenix
2      Harry Potter and the Sorcerer's Stone
3   Harry Potter and the Prisoner of Azkaban
4        Harry Potter and the Goblet of Fire

                                        book_details  \
0  It is the middle of the summer, but there is a...
1  Harry Potter is about to start his fifth year ...
2  Harry Potter has no idea how famous he is. Tha...
3  Harry Potter, along with his best friends, Ron...
4  It is the summer holidays and soon Harry Potte...

                                 format                   publication_info  \
0              ['652 pages, Paperback']  ['First published July 16, 2005']
1              ['912 pages, Paperback']  ['First published June 21, 2003']
2              ['309 pages, Hardcover']  ['First published June 26, 1997']
3  ['435 pages, Mass Market Paperback']   ['First published July 8, 1999']
4              ['734 pages, Paperback']   ['First published July 8, 2000']

                                          authorlink        author num_pages  \
0  https://www.goodreads.com/author/show/1077326....  J.K. Rowling   ['652']
1  https://www.goodreads.com/author/show/1077326....  J.K. Rowling   ['912']
2  https://www.goodreads.com/author/show/1077326....  J.K. Rowling   ['309']
3  https://www.goodreads.com/author/show/1077326....  J.K. Rowling   ['435']
4  https://www.goodreads.com/author/show/1077326....  J.K. Rowling   ['734']

                                              genres  num_ratings  \
0  ['Fantasy', 'Young Adult', 'Fiction', 'Magic',...      3292516
1  ['Young Adult', 'Fiction', 'Magic', 'Childrens...      3401709
2  ['Fantasy', 'Fiction', 'Young Adult', 'Magic',...     10116247
3  ['Fantasy', 'Fiction', 'Young Adult', 'Magic',...      4215031
4  ['Fantasy', 'Young Adult', 'Fiction', 'Magic',...      3718209

   num_reviews  average_rating  \
0        58398            4.58
1        64300            4.50
2       163493            4.47
3        84959            4.58
4        69961            4.57

                                 rating_distribution
0  {'5': '2,244,154', '4': '775,028', '3': '219,8...
1  {'5': '2,178,760', '4': '856,178', '3': '293,2...
2  {'5': '6,544,542', '4': '2,348,390', '3': '856...
3  {'5': '2,892,322', '4': '970,190', '3': '287,7...
4  {'5': '2,500,070', '4': '899,496', '3': '259,7...

In [117]:
import sqlite3

# Membuka koneksi ke database SQLite
conn_reviews = sqlite3.connect('book_reviews.db')

# Mendapatkan daftar tabel
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_reviews = pd.read_sql_query(tables_query, conn_reviews)
print("Tabel di book_reviews.db:")
print(tables_reviews, "\n")

# Membaca tabel dengan nama yang diketahui (asumsi tabelnya bernama 'reviews')
reviews_query = "SELECT * FROM book_reviews"
book_reviews = pd.read_sql_query(reviews_query, conn_reviews)
print(book_reviews.head())

# Menutup koneksi
conn_reviews.close()

Tabel di book_reviews.db:
           name
0  book_reviews

    book_id reviewer_id                   reviewer_name likes_on_review  \
0  57094644   114413220                           Sofia       582 likes
1  57094644    48328025                   megs_bookrack       329 likes
2  57094644     6728955                          Mariah       232 likes
3  57094644   101179363  ale (semi hiatus) ‧ ₊˚୨ ♡ ୧ ₊˚       218 likes
4   2948832    48727754                          chan ☆       174 likes

                                      review_content reviewer_followers  \
0  Just when you thought he was done writing book...    7,961 followers
1  Would you be shocked if I told you this was th...    12.1k followers
2  So you're telling me Anaisn'ta Daughter of Pos...      490 followers
3  *inserts vine "anything for you, beyoncé"*upda...    2,709 followers
4  i was excited about this one since it was so w...    55.1k followers

  reviewer_total_reviews        review_date      review_rating
0            234 reviews  February 24, 2021               None
1          1,802 reviews     March 17, 2024  Rating 5 out of 5
2          1,263 reviews  September 5, 2022  Rating 3 out of 5
3            458 reviews       June 3, 2021               None
4          1,139 reviews       June 9, 2021  Rating 2 out of 5

In [3]:
# Membuka koneksi ke database SQLite
conn_books = sqlite3.connect('books.db')

# Mendapatkan daftar tabel
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_books = pd.read_sql_query(tables_query, conn_books)
print("Tables in books.db:")
print(tables_books, "\n")

# Membaca tabel dengan nama yang diketahui (asumsi tabelnya bernama 'books')
books_query = "SELECT * FROM books"
books = pd.read_sql_query(books_query, conn_books)
print(books.head())

# Menutup koneksi
conn_books.close()

Tables in books.db:
    name
0  books

       id            title  total_books  total_votes
0  345627  Best Books Ever       122608       256088
1    7624  Best Books Ever       122608       256088
2   17245  Best Books Ever       122608       256088
3   39988  Best Books Ever       122608       256088
4   19063  Best Books Ever       122608       256088

In [4]:
books.dtypes

id              int64
title          object
total_books     int64
total_votes     int64
dtype: object

In [5]:
books.isnull().sum()

id             0
title          0
total_books    0
total_votes    0
dtype: int64

** TRANSFORM **

In [395]:
book_details.dtypes

book_id                         int64
cover_image_uri                object
book_title                     object
book_details                   object
format                         object
publication_info       datetime64[ns]
authorlink                     object
author                         object
num_pages                       int32
genres                         object
num_ratings                     int64
num_reviews                     int64
average_rating                float64
rating_distribution            object
dtype: object

In [382]:
#sekarang ubah publication_info jadi date dan ubah format nya jadi y-m-d dan hilangkan kata" nya

# Menghapus kata "First published" dan tanda kurung dari setiap entri
book_details['publication_info'] = book_details['publication_info'].str.replace(r'\[.*published\s+', '', regex=True).str.strip("']")

# Membuat fungsi untuk mengubah format tanggal
def convert_date(date_str):
    try:
        return pd.to_datetime(date_str, format='%B %d, %Y')
    except ValueError:
        return pd.NaT  # Mengembalikan NaT (Not a Time) untuk entri yang tidak dapat diubah

# Mengubah format tanggal
book_details['publication_info'] = book_details['publication_info'].apply(convert_date)
# Menghapus baris yang mengandung nilai NaT
book_details = book_details.dropna(subset=['publication_info'])

In [394]:
print(book_details["format"].unique())

['Paperback' 'Hardcover' 'Market Paperback' 'Unknown Binding' 'Audio CD'
 'Board book' '512 pages' 'Trade Paperback' 'Library Binding'
 'Kindle Edition' '188 pages' 'Audio Cassette' 'Audiobook'
 'Slipcased Hardcover' '156 pages' 'ebook' 'Dust Jacket' 'MP3 CD' 'paper'
 'Perfect Paperback' '237 pages' '160 pages' 'Comics' 'Pocket Book'
 '290 pages' '24 pages' nan 'Leather Bound' 'Board Book' 'cloth' 'Diary'
 '314 pages' 'Audio Play' '376 pages' 'Pew Edition' '32 pages' '600 pages'
 '810 pages' 'Comic' '256 pages' 'Audiocd' 'Textbook Binding'
 'Market Paberback' '204 pages' 'Audio' 'Brochura' '107 pages' '221 pages'
 '384 pages' '224 pages' '400 pages' '30 pages' 'Hardback' '231 pages'
 'paperback' '158 pages' '76 pages' 'Podiobook' '236 pages' '27 pages'
 '264 pages' '146 pages' 'MP3 Audio' '399 pages' 'softcover' '280 pages'
 '447 pages' 'Novel' 'web' '48 pages' '456 pages' '675 pages' '196 pages'
 '250 pages' 'Paperback Shinsho' '207 pages' '287 pages' '18 pages'
 '2940 pages' 'Nook' 'MP3 Book' '200 pages' 'Paper' '390 pages' 'Unbound'
 '108 pages' '291 pages' '92 pages' '46 pages' 'Audible Audio' '168 pages'
 '404 pages' 'Webnovel' '82 pages' '25 pages' '336 pages' '591 pages'
 '569 pages']

In [401]:
# ID dari baris dengan tanggal '1999-09-21', '2003-06-02', dan '2002-07-25'
ids = [5396, 6059, 10582]

# Tampilkan nilai kolom 'publication_info' untuk ID yang ditemukan
print(book_details.loc[ids, 'format'])

5396                 ['187 pages, Paperback ']
6059     ['486 pages, Mass Market Paperback ']
10582                       ['264 pages, A 5']
Name: format, dtype: object

In [402]:
book_details["format"].head()

0                ['652 pages, Paperback']
1                ['912 pages, Paperback']
2                ['309 pages, Hardcover']
3    ['435 pages, Mass Market Paperback']
4                ['734 pages, Paperback']
Name: format, dtype: object

In [392]:
# # Mengekstrak jumlah halaman dan menghilangkan tanda kurung dan kutip
# book_details['num_pages'] = book_details['num_pages'].str.strip("[]'")

# # Menghilangkan tanda kurung dan kutip pada kolom format
# book_details['format'] = book_details['format'].str.strip("[]'")

# # Menghapus bagian "x pages," dari kolom book_details untuk mendapatkan format buku
# book_details['format'] = book_details['format'].str.extract(r'pages, (.+)')[0]

# Mengekstrak format
book_details['format'] = book_details['format'].str.extract(r'(\w+\s?[A-Za-z]+)\']$')

# Menghilangkan tanda kurung dan tanda kutip dari kolom format
book_details['format'] = book_details['format'].str.strip("[]'")

# Menghilangkan tanda kurung siku dari kolom num_pages
book_details['num_pages'] = book_details['num_pages'].str.strip("[]'")

book_details = book_details.dropna(subset=['format'])

AttributeError: Can only use .str accessor with string values!

In [386]:
# Mengganti nilai 'None' dengan 0
book_details['num_pages'] = book_details['num_pages'].replace(['None', ''], 0)

In [387]:
# Mengonversi kolom num_pages menjadi integer
book_details['num_pages'] = book_details['num_pages'].astype(int)

In [393]:
book_details.isnull().sum()

book_id                0
cover_image_uri        0
book_title             0
book_details           0
format                 3
publication_info       0
authorlink             0
author                 0
num_pages              0
genres                 0
num_ratings            0
num_reviews            0
average_rating         0
rating_distribution    0
dtype: int64

In [389]:
# Menemukan baris di mana book_details adalah missing values
missing_book_details = book_details[book_details['book_details'].isna()]

# Mengelompokkan data berdasarkan book_title dan menghitung jumlah missing values di book_details
missing_grouped = missing_book_details.groupby('book_title').size().reset_index(name='missing_count')

print(missing_grouped)

                                           book_title  missing_count
0                                         Ace Of Aces              1
1                                    Armée des ombres              1
2   Band 1: Einde van een wereld & Tussen twee wer...              1
3         Behind the State Capitol or Cincinnati Pike              1
4                           Bill Cosby: Coming at You              1
5                                    Dogs in Lingerie              1
6                  Fla-Flu e as multidões despertaram              1
7                                 Fugle omkring fyret              1
8   Ghosts And Scholars: Ghost Stories In The Trad...              1
9                    Helping the Retarded to Know God              1
10  Holocaust Denial: Antisemitism, Racism and the...              1
11                         Horatio Hornblower 1 - 11.              1
12  Human rights and legal defense in Northern Ire...              1
13                                    Jadilah Istriku              1
14                  Kecksies and Other Twilight Tales              1
15                                          Mad Death              1
16   March of the Titans: A History of the White Race              1
17                        Miscellaneous Stuff & Stuff              1
18  Papst Benedikt XVI.: Jesus von Nazareth aß kei...              1
19                                 Richard's Cork Leg              1
20                        Saga of Darren Shan Box Set              1
21                                        Space Casey              1
22                  The Atlantic Monthly Puzzler Book              1
23                                      The Brainwave              1
24                                         The Helmet              1
25                          The Knights of King Midas              1
26                                       The Oil Card              1
27           The Original Dr. Shade and Other Stories              1
28                           The divine and the decay              1
29                                             Εξορία              1
30                                 Ποιήματα 1978-1987              1
31                                     Τα ποιήματα Β΄              1
32                   Пальмове гилля. Екзотичні поезиї              1
33                                        جنگل واژگون              1
34                                            مصرائيل              1
35  დიდოსტატის კონსტანტინეს მარჯვენა; დიონისოს ღიმილი              1
36              ვატერ(პო)ლოო ანუ აღდგენითი სამუშაოები              1

In [390]:
book_details['book_details'] = book_details['book_details'].fillna("Tidak Ada Ringkasan Tersedia")

In [368]:
book_reviews.dtypes

book_id                   object
reviewer_id               object
reviewer_name             object
likes_on_review           object
review_content            object
reviewer_followers        object
reviewer_total_reviews    object
review_date               object
review_rating             object
dtype: object

In [49]:
book_reviews.isnull().sum()

book_id                   0
reviewer_id               0
reviewer_name             0
likes_on_review           0
review_content            0
reviewer_followers        0
reviewer_total_reviews    0
review_date               0
review_rating             0
dtype: int64

In [48]:
book_reviews['likes_on_review'].head(50)

0      582
1      329
2      232
3      218
4      174
5        0
6      110
7       88
8       86
10     155
11     137
12     107
13    6404
14    2462
16     736
17    2013
18     338
19     191
20     166
21      97
23     824
24    1035
25     987
26     570
28     916
29     647
30     446
31     426
32     270
33     164
34     136
35      75
36      62
37      51
38     368
39     310
40     207
42     109
43     338
44     289
45     125
46     113
47     111
48     156
49     142
50     110
51      84
52      86
53     400
55      69
Name: likes_on_review, dtype: int32

In [39]:
book_reviews['book_id'] = book_reviews['book_id'].astype(int)

In [43]:
#hilangkan dlu kata-kata likes, followers, dan reviews
book_reviews['likes_on_review'] = book_reviews['likes_on_review'].str.replace("likes", "")
book_reviews['reviewer_total_reviews'] = book_reviews['reviewer_total_reviews'].str.replace("reviews", "")
book_reviews['reviewer_followers'] = book_reviews['reviewer_followers'].str.replace(r'\bfollowers?\b', '', regex=True).str.strip()
# Menghapus baris dengan nilai 'Author' di kolom 'reviewer_followers'
book_reviews = book_reviews[book_reviews['reviewer_followers'] != 'Author']

In [45]:
import re

# Daftar kolom yang akan diubah
columns_to_process = ['likes_on_review', 'reviewer_total_reviews', 'reviewer_followers']

# Fungsi untuk menghapus karakter "k" dan mengonversi ke integer
def remove_k_and_convert_to_int(value):
    if pd.isnull(value):  # Jika nilai kosong, kembalikan nilai None
        return None
    else:
        # Gunakan ekspresi reguler untuk menghapus karakter "k" dan konversi ke integer
        numeric_value = re.sub(r'[^\d.]', '', value)
        return float(numeric_value)

# Iterasi melalui setiap kolom
for col in columns_to_process:
    # Menghapus karakter "k" dan mengonversi ke integer untuk setiap nilai dalam kolom
    book_reviews[col] = book_reviews[col].apply(remove_k_and_convert_to_int)

In [41]:
for col in ["likes_on_review", "reviewer_total_reviews", "reviewer_followers"]:
    # Hapus nilai None di kolom yang sedang diproses
    book_reviews = book_reviews.fillna('0')

In [47]:
#ubah jadi int
for col in ["likes_on_review", "reviewer_total_reviews", "reviewer_followers" , "reviewer_id", "book_id"]:
    book_reviews[col] = book_reviews[col].astype(int)

In [54]:
#sekarang lanjut review_date
book_reviews["review_date"]

0       2021-02-24
1       2024-03-17
2       2022-09-05
3       2021-06-03
4       2021-06-09
           ...
63009   2021-09-16
63010   2022-01-06
63011   2015-08-09
63012   2016-04-29
63013   2017-03-08
Name: review_date, Length: 55091, dtype: datetime64[ns]

In [53]:
# Mengubah format tanggal menjadi "YYYY-MM-DD" dan mengonversi ke tipe data datetime
book_reviews['review_date'] = pd.to_datetime(book_reviews['review_date'], format='%B %d, %Y')

In [22]:
book_reviews["review_rating"]

0        1
1        5
2        3
3        1
4        2
        ..
63009    5
63010    3
63011    2
63012    4
63013    4
Name: review_rating, Length: 49364, dtype: int32

In [51]:
# Mengganti nilai None dengan "Rating 1 out of 5"
book_reviews['review_rating'] = book_reviews['review_rating'].fillna('Rating 0 out of 5')

# Membersihkan teks dengan menghapus kata "Rating" dan "out of 5"
book_reviews['review_rating'] = book_reviews['review_rating'].str.replace(r'Rating (\d) out of 5', r'\1', regex=True)

# Mengonversi nilai rating menjadi tipe data integer
book_reviews['review_rating'] = book_reviews['review_rating'].astype(int)